{:kotoba.app/id "cloud.itonami.isic-8121", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicc24taa4r6squrfjaaehom4yyb42rdqzljtfiepfvtvgv5k22moq", :kotoba.app/embed-url "ipfs://bafkreicc24taa4r6squrfjaaehom4yyb42rdqzljtfiepfvtvgv5k22moq", :published {:archive "https://kotobase.net/ipfs/bafkreicc24taa4r6squrfjaaehom4yyb42rdqzljtfiepfvtvgv5k22moq", :size 73065, :put-status 201, :get-status 200, :at "2026-08-15T13:37:47.084Z"}}
